<div class="sidebar">
    <h3 class="mb-4 text-center">MyApp</h3>

    <a href="/dashboard">Dashboard</a>
    <a href="/categories">Categories</a>
    <a href="/subcategories">Subcategories</a>
    <a href="/products">Products</a>
</div>
